@import "reset";
@import "mixins";

html, body {height:100%}

body {
    background:#eee;
    color:#555;
    font:14px Arial;
}

form {
    
}
    input[type=text] {
        padding:2px 4px;
        border:1px solid #ccc;
        font:11px Arial;
        width:97%
    }
    fieldset {
        border:1px solid #ccc;
        padding:10px;
        background:#ddd;
        margin:30px 0 10px
    }
    legend {
        display:inline-block;
        height:16px;
        line-height:16px;
        padding:2px 5px;
        color:#000;
        background:#ddd;
        border:1px solid #ccc;
        border-bottom-color: #ddd;
        margin-top:-20px
    }

h1 {
  float:left;
  font-size:20px;
  font-weight:normal;
  color:#fff;
  margin:10px
}

#apache-restart {
  @include button;
  display:block;
  margin:10px;
  float:right;
  background:#CBD3DF;
  color:#43576D
}
#apache-restart:hover {
  @extend input[type=submit]:hover
}


input[type=button]       { @include button }
input[type=button]:hover { @include button-hover}
input[type=submit]       { @include submit }
input[type=submit]:hover { @include submit-hover }

#app-container {
  @include rounded-all(6px);
  @include drop-shadow(0, 0, 5px, #aaa);
  float:left;
  margin:20px;
  background:#97A6BE
}

.loading {
  background-image:url(../img/loading.gif);
  background-repeat:no-repeat;
  background-position:center center;
}
.loading>* {
  visibility:hidden
}

#vhosts {
    list-style:none;
    float:left;
    width:200px;
    min-height:400px;
    text-align:right;
    padding-bottom:10px;
    margin-top:10px;
    clear:both
}
    li{
        display:block;
        float:left;
        width:100%;
        margin-bottom:2px
    }
    li:last-child{
        margin-bottom:0
    }
    a {
        color:#ddd;
        text-decoration:none;
        display:block;
        float:right;
        padding:5px 10px;
        @include rounded-left(4px);
    }
    a:hover {
        background:#CBD3DF;
        color:#43576D
    }
    .selected {
        background:#fff;
        color:#000
    }
    a.selected:hover {
        @extend .selected
    }

#content {
    float:left;
    padding:10px;
    margin:0 10px 10px 0;
    background:#fff;
    width:400px;
    min-height:400px;
    overflow:auto;
    font-size:11px;
    @include rounded-all(6px)
}
    p {
        margin-bottom:15px
    }
    label {
        display:block;
        cursor:pointer;
        margin-bottom:5px;
        font-weight:bolder;
    }
